#jewish__sercive__alliance{
    background: #015D5D;
    padding: 80px 0;
}
.email__button svg{
    width: 23px;
}
.email__link.closed{
    display: none;
}
.email__button svg path{
    fill: #005f5e;
}
#jewish__sercive__alliance p{
    max-width: 1090px;
    width: 100%;
    margin: auto;
    letter-spacing: 1px;
    line-height: 38px;
}
#partners{
    padding: 90px 0;
}
.serve__button__icon svg path{
    fill: white;
}
.hero__content__button button svg path{
    fill: white;
}
#partners .the__partner{
    width: calc(100% / 5);
    display: flex;
    justify-content: center;
    align-items: center;
}
#partners .the__partner img{
    width: 100%;
    margin: 30px 0;
    mix-blend-mode: multiply;
    padding: 20px 35px;
}
#cities__background img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#cities .container{
    background: #00a99e;
    padding: 60px 0 0 0;
}
#cities .title p{
    margin: 0px;
    line-height: 33px;
}
.cities__slider {
    padding: 50px 130px;

}
.city__cluster > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.city__cluster .city__slider{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
}
.city__cluster .city__slider h3{
    margin-top: 25px;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.city__image img{
    padding: 0 25px;
    width: 100%;
}
#cities .slick-arrow.slick-next, #cities .slick-arrow.slick-prev {
    border-right: 5px solid #ffffff;
    border-bottom: 5px solid #ffffff;
}
#cities .slick-prev:before, #cities .slick-next:before{
    opacity: 0;
}
#cities .slick-arrow.slick-prev {
    left: -85px!important;
    top: 205px;
}
#cities .slick-arrow.slick-next {
    right: -85px!important;
    top: 205px;
}
#cities{
    margin-top: -150px;
    position: relative;
    z-index: 2;
}
#team{
    padding: 80px 0;
}
#team .title h2{
    padding-left: 60px;
}
.team__members{
    margin-top: 35px;
}
.team__members img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 100%;
    object-position: center;
}
.team__members h3{
    margin: 40px 0 2px 0;
}
.city__slider a{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team__member{
    margin: 40px 0;
}
.team__members p {
    line-height: 22px;
}
.read__more__button{
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #00a99e;
    font-weight: bold;
    color: white;
    cursor: pointer;
    margin-top: 20px;
}
.team__description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.team__members .closed p{
    display: block;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
#team.board{
    background: #015D5D;
}
#serve__the__moment{
    padding: 80px 0 80px;
}
.serve__buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 20px auto;
}
.serve__button__element{
    background: #00a99e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13px;
    width: calc(100% / 2.05);
}
.serve__button__element .serve__button__icon{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5px;
}
.serve__button__icon svg{
    max-height: 30px;
}
.serve__button__element p{
    margin: 0px;
    letter-spacing: 1px;
}
.hero__container.bottom__hero p{
    margin: 30px 0!important;
    width: 100%;
    max-width: 434px;
    line-height: 35px;
}

.hero__container.bottom__hero {
    margin-bottom: 20px;
}
.hero__container.bottom__hero .hero__content__button svg {
    margin-bottom: 5px;
    max-height: 17px;
}
.hero__container.bottom__hero .hero__content__button svg path{
    transition: all ease-in-out 0.5s;
}
.hero__container.bottom__hero .hero__content__button button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 262px;
    padding: 12px 30px 6px;
}
.hero__container.bottom__hero .hero__content__button button:hover svg path{
    fill: #00a99e;
}
@media(max-width: 768px){
    #partners .the__partner{
        width: calc(100% / 3);
    }
    .city__cluster .city__slider{
        width: calc(100% / 3);
    }
    #cities .title p {
        max-width: 510px;
        margin: auto;
    }
    .who__page .hero__content p br{
       display: none;
    }
    #jewish__sercive__alliance p {
        max-width: 520px;
    }
    .cities__slider {
        padding: 50px 60px;
    }
}
@media(max-width: 600px){
    .serve__button__element{
       width: 100%;
       margin: 20px;
    }
    .cities__slider {
        padding: 50px 60px;
    }
    #serve__the__moment h2{
        padding: 20px;
    }
    .hero__container.bottom__hero {
        padding: 10px 20px 40px;
    }
    .team__member {
        padding: 0px 40px;
    }
    .bottom__hero .hero__content__title h2 {
        font-size: 32px;
        line-height: 40px;
    }
    #partners .the__partner {
        width: calc(100% / 2);
    }
    .city__cluster .city__slider {
        width: calc(100%);
    }
    #cities .title p {
        line-height: 26px;
        font-size: 16px;
        padding: 0 25px;
    }
    .city__image img {
        padding: 0 0px;
    }
    .cities__slider {
        padding: 50px 130px 30px;
    }
}

@media(max-width: 900px) and (orientation: landscape ){
    #cities .title p {
        line-height: 28px;
        max-width: 420px;
        margin: auto;
    }
    .city__cluster .city__slider {
        width: calc(100% / 3);
    }
}
@media(max-width: 667px) and (orientation: landscape ){
    .who__page .hero__container .hero__content {
        padding: 100px 70px 0 70px;
    }
    .city__cluster .city__slider {
        width: calc(100% / 2);
    }
    .serve__button__element a{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }
    .serve__button__element {
        min-height: 110px;
    }
}
@media (max-width: 580px) and (orientation: landscape) {
    .who__page .hero__container .hero__content {
        padding: 0px 50px 20px 50px;
    }
    .who__page .hero__container .hero__content__image{
        padding: 0px;
    }
    .who__page .hero__container {
        padding: 100px 0px 0;
    }
    .who__page .hero__container .hero__content__image img {
        padding-left: 0px;
        margin: 50px 0 0px 0;
    }
    .who__page .hero__container.bottom__hero {
        padding: 0px 0px 0;
    }
    #serve__the__moment {
        padding: 80px 0 10px;
    }
    #cities {
        margin-top: -40px;
    }
    #cities .container {
        max-width: 85%;
    }
    .city__cluster .city__slider {
        width: calc(100%);
    }
}
@media(max-width: 900px) and (orientation: landscape ){
    #partners .the__partner {
        width: calc(100% / 3);
    }
}